In [7]:
#1-index error

mylist=[14, "hello", 967]
mylist[1] #6 is out of range of this list, it should be 0 or 1 or 2

'hello'

In [5]:
import pandas # pandas instead of Pandas
import numpy  # numpy instead of NumPy

In [8]:
#2-syntax error

print("python errors") # Print"python errors"---> error because parentheses are required, and print instead of Print

python errors

In [10]:
#3-key error

mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary['3']             #True is a python keyword, it shouldn't be used as a key of dictionnary

'python'

In [15]:
#4-indentation error
i=14
while i<20:
    print(i) #identation is required
    i+=1

14
15
16
17
18
19

In [12]:
#5-StopIteration

it=iter([1,2,3])
next(it)
next(it)
next(it)

3

In [13]:
#6-TypeError

15+15  #'15'+15---> cannot concanate str and int objects

30

In [19]:
#7-ValueError

int(3.5)  # int('python')---> error : convert a string value to integer is not possible

3

In [21]:
#8-NameError

python # python is interpreted as a variable if we are not in Windows Command Line,, and it should be defined

NameError: name 'Python' is not defined

In [22]:
#9-ZeroDivisionError

x=19/0

ZeroDivisionError: division by zero

In [24]:
try:
    x = 19/0
    print(x)
except ZeroDivisionError:
    pass